.subscribe {
    margin-top: rem(50);
}

.subscribe-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: rem(50);
}

.subscribe-content {
    font-family: $font-lora;
    font-weight: 500;
    font-size: rem(48);
    line-height: rem(61.5);
    width: 63%;
    margin-right: rem(20);
}

.subscribe-input {
    display: flex;
    border-bottom: rem(1) solid $color-black-1;
    margin-right: rem(42);

    input {
        border: none;
        font-family: $font-aeonik;
        font-size: rem(16);
        font-weight: 250;
        line-height: rem(19);
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
    }

    input:focus {
        outline: none;
    }

    ::placeholder {
        color: $color-black-1;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color-black-1;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $color-black-1;
    }
}

.subscribe-button {
    font-size: rem(14.5);
    font-weight: 250;
    line-height: rem(17.3);
    border: none;
    padding: rem(9.8) rem(29.5);
    margin-bottom: rem(9);
}

// Screen: 0 <= width <= 768px
@include mq-range($BREAKPOINT-XS, $BREAKPOINT-MD) {
    .subscribe {
        margin-top: rem(27);
    }

    .subscribe-container {
        flex-direction: column;
        align-items: center;
    }

    .subscribe-content {
        font-size: rem(20);
        line-height: rem(25.6);
        text-align: center;
        width: 90%;
        margin: 0 0 rem(25) 0;
    }

    .subscribe-input {
        margin-right: 0;
        padding-top: rem(22);
        background-color: $color-grey-1;

        input {
            font-size: rem(10.6);
            line-height: rem(12.7);
            background: $color-grey-1;
            width: rem(220);
        }
    }

    .subscribe-button {
        font-size: rem(9.5);
        line-height: rem(11.5);
        padding: rem(6.5) rem(19.5);
        margin-bottom: rem(6);
    }
}
