/* VARIABLES */
// colors
$font: "Rubik", sans-serif;

$color-white-1: #ffff;
$color-black-1: #010101;
$color-yellow-1: #deec3c;
$color-grey-1: #f3f3f3;
$color-grey-2: #808080;
$color-grey-3: #ededed;
$color-grey-4: #c7c7c7;

// Breakpoints
$BREAKPOINT-TL: 768px;
$BREAKPOINT-XXL: 1440px;
$BREAKPOINT-XXXL: 1920px;
